.App{
    /* min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(0, 217, 255, 0.116);
}
.HomePage, .jsxBasicPage, .formsPage, .BasicStatePage, .TestPage, .Functions{
    flex: 1;
    padding: 30px;
}
.HomePage{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.HomePage svg{
    width: 100vh; 
}
.title-control{
    display: flex;
}
.HomePage h1{
    text-align: center;
    margin: 0px;
    color: #61DAFB;
    text-transform: uppercase;
}
.HomePage img{
    width: 50px;
}

.BasicStatePage{
    display: flex;
    flex-wrap: wrap;
}
.formsPage{
    display:flex;
    flex-wrap: wrap;
}


.footer{
    background-color: lightgray;
    box-shadow: 0px -5px 5px 0px gray;
    text-align: center;
}